SUPABASE_URL=your_supabase_url_here
SUPABASE_KEY=your_supabase_key_here
SQLALCHEMY_DATABASE_URL=your_database_url_here

SENDER_EMAIL=your_email_here@gmail.com
SENDER_PASSWORD=your_app_password_here

OTP_EMAIL=your_otp_email_here@gmail.com
OTP_PASSWORD=your_otp_password_here

SECRET_KEY=your_super_secret_key_here
